# Postgres details
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changePassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=pgn8nuser
POSTGRES_NON_ROOT_PASSWORD=changePassword

# Encryption Key - MUST be constant for credential decryption
N8N_ENCRYPTION_KEY=WSVjL2Kxlfpavh7F+HRiLy7MDwrYXUMZIpUyB+4c6bQ=

# Public DNS and webhook settings (used behind proxy)
N8N_HOST=n8n.techzenicsolutions.com
WEBHOOK_URL=https://n8n.techzenicsolutions.com/

# Enable Task Runners
N8N_RUNNERS_ENABLED=true

# Enable full collaboration features
N8N_PUSH_BACKEND=websocket

# Enable Secure Cookies
N8N_SECURE_COOKIE=true

N8N_PROXY_HOPS=1